HTML { display: table; height: 100%; margin: auto; width: auto; }

Body
{
	background-color: black;
	color: goldenrod;
	display: table-cell;
	font-family: 'Consolas', 'Courier New', 'Courier', 'monospace';
	font-size: xxx-large;
	text-align: center;
	vertical-align: middle;
}

Button
{
	background-color: goldenrod;
	border-color: transparent;
	border-radius: 8px;
	color: black;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
}

Button:hover { background-color: gold; }
Button:active { background-color: palegoldenrod; }
Button:disabled { background-color: darkgoldenrod; cursor: progress; }
Button::selection { text-decoration-line: underline; }
